{% for lib in modelLibs %}
{{lib}};{{saltoLinea}}
{% endfor %}

let {{entity}}Schema = new Schema({
    {% for atr in entityAtrDictList %}
    {{atr['name']}}: {type: {{atr['type']}}, required: {{atr['required']}}{% if 'max' in atr %}, max: {{atr['max']}} {% endif %} },
    {% endfor %}
});

module.exports = mongoose.model('{{entity}}', {{entity}}Schema);


